.feature__wrapper:last-child {
	border: none;
}

.feature__item--right {
  padding: 25px;
  margin: 0;
  background-color: rgb(240, 255, 240);
  border-bottom: 1px solid rgba(24, 24, 24, 0.8);
}

.feature__item--left {
  background-color: rgb(237, 234, 224);
  padding: 25px;
  margin: 0;
  border-bottom: 1px solid rgba(24, 24, 24, 0.8);
}

.feature__item:nth-child(2) {
  background-color: rgba(245, 245, 220, 0.8);
  padding: 22px;
}

body {
    margin-bottom: 100px !important;
}

.page__footer {
	background-color: #181818 !important;
	margin-top: 0 !important;
	color: #d8d8d8 !important;
}

.page__footer .fa {
    color: #d8d8d8 !important;
}

.page__title {
	overflow: hidden !important;
}

.text-copy {
	fill: none;
	stroke: white;
	stroke-dasharray: 10% 10%;
	stroke-width: 2px;
	stroke-dashoffset: 0%;
	animation: stroke-offset 30s infinite linear;
	font-family: '8BITWONDERNominal';
        font-weight: normal;
        font-style: normal;
        font-size: 2rem;
}

.text-copy:nth-child(1){
	stroke: #ab4642;
	animation-delay: -1s;
}

.text-copy:nth-child(2){
	stroke: #dc9656;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #f7ca88;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #a1b56c;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #86c1b9;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -80%;}
}

.feature__wrapper a {
    color: inherit;
}

.archive__item-excerpt > p {
    display: inline-block;
    text-decoration: none !important;
}

#herobackground {
    background-size: cover;
}

#herobackground:hover .text, #herobackground:hover .text-copy {
    fill: white !important;
    stroke: none;
}

@media (min-width: 37.5em) {
	.text-copy {
		stroke-width: 2px !important;
	}
}
@media (min-width: 80em) {
	.text-copy {
		stroke-width: 2.5px !important;
	}
}

div.page__hero--overlay .page__title {
    font-size: 3.5em;
    font-weight: bold;
}

.text-copy {
	stroke-width: 1px;
}

.wrapper {
	max-width: none !important;
	transition: linear 0.25s;
	padding: 3em 0;
	background-color: #181818 !important;
}

.wrapper:hover {
	background: none !important;
}

.page__hero--overlay {
	padding: 0 !important;
}
